In [1]:
import pandas as pd

In [2]:
file_path= './weatherAUS.csv'
df = pd.read_csv(file_path, sep=',',engine='python')
df.head()

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,RainfallTomorrow
0,0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,0.0
1,1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,0.0
2,2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,0.0
3,3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,1.0
4,4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,0.2

In [3]:
# Lista de ubicaciones admitidas
locations = ['Albury', 'Sydney', 'SydneyAirport', 'Canberra', 'Melbourne', 'MelbourneAirport']

# Filtrar el dataframe para mantener solo las ubicaciones admitidas
df = df[df['Location'].isin(locations)]

In [4]:
# Se eliminan los registros donde RainfallTomorrow y RainTomorrow tienen valores faltantes
df = df.dropna(subset=['RainfallTomorrow', 'RainTomorrow'])

In [5]:
df['RainToday'] = pd.to_numeric(df['RainToday'].replace({'Yes': 1, 'No': 0}), errors='coerce').astype('boolean')
df['RainTomorrow'] = pd.to_numeric(df['RainTomorrow'].replace({'Yes': 1, 'No': 0}), errors='coerce').astype('boolean')

C:\Users\franc\AppData\Local\Temp\ipykernel_3636\790795762.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['RainToday'] = pd.to_numeric(df['RainToday'].replace({'Yes': 1, 'No': 0}), errors='coerce').astype('boolean')
C:\Users\franc\AppData\Local\Temp\ipykernel_3636\790795762.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['RainTomorrow'] = pd.to_numeric(df['RainTomorrow'].replace({'Yes': 1, 'No': 0}), errors='coerce').astype('boolean')

In [6]:
# Ordenamiento por la columna 'Date'
df = df.sort_values('Date')

# Calcular los índices que corresponden al 70% y 85% del DataFrame
index_at_70_percent = int(len(df) * 0.7)
index_at_85_percent = int(len(df) * 0.85)

# Usar los índices para obtener las fechas en esos puntos
date_at_70_percent = df.iloc[index_at_70_percent]['Date']
date_at_85_percent = df.iloc[index_at_85_percent]['Date']

# Crear df_train, df_val y df_test basado en estas fechas
df_train = df[df['Date'] <= date_at_70_percent]
df_val = df[(df['Date'] > date_at_70_percent) & (df['Date'] <= date_at_85_percent)]
df_test = df[df['Date'] > date_at_85_percent]

In [7]:
df_train.to_csv('df_train.csv', index=False)
df_val.to_csv('df_val.csv', index=False)
df_test.to_csv('df_test.csv', index=False)

print("Archivos guardados en el directorio actual.")

Archivos guardados en el directorio actual.